<app-menu>
    <div 
        class="full page-padding"
        fxLayout="column"
        fxFlex="100"
        fxLayoutAlign="start start">
        <h1 class="full">Administração - Usuários</h1>
        <div
            class="full"
            fxLayout="row" 
            fxLayoutAlign="space-between">
            <div>
                <h2>Usuários Cadastrados</h2>
            </div>
            <div>
                <button mat-mini-fab color="primary" (click)="openDialog()"><mat-icon>add</mat-icon></button>
            </div>
        </div>
        <app-user-table class="full"></app-user-table>
    </div>
</app-menu>
