.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo{
  font-size: 40px;
  margin: 10px;
}

.menu{
  margin: 0;
  padding: 0 24px;
}

.menu-items{
  padding: 0 24px;
  margin: 0;
  font-size: 15px;
  width: 100%;
  text-align: start;
}

.icon {
  font-size: 20px;
  margin: 5px;
  text-align: center;
}

mat-panel-title {
  justify-content: center !important;
}
