.login-container{
    min-width: 600px;
    min-height: 600px;
    margin: 30vh 30vw;
    padding: 10vh 0 0 0;
    background-color: #EFF1F3 ;
    border-radius: 4px;
}

.padding{
    padding:0 5vw;
}

.title-login{
    color: #223843;
}

.logo-login{
    font-size: 50px;
}

h2{
    color: #223843;
    margin-top: 20px;
}

.button-entrar{
}
.button-primeiro-acesso{
    // background-color: #D77A61;
    // color: #EFF1F3;
    margin-top: 40px;
}
