<div 
    fxLayout="column" 
    fxLayoutAlign="center center" 
    style="height: 100vh; background-color: #223843;">
    
    <div 
        fxLayout="column" 
        fxLayoutAlign="center center" 
        class="login-container mat-elevation-z3">
        
        <div 
            class="title-login" 
            fxLayout="column" 
            fxLayoutAlign="center center"> 
            
            <span 
                class="material-icons logo-login">
                apartment
            </span>

        </div>
        <h2>Controle de acesso</h2>
        <h3>Login</h3>
        <form 
            fxFlex="100" 
            class="full padding" 
            fxLayout="column" 
            [formGroup]="loginForm">
            <mat-form-field appearance="fill">
                <mat-label>E-mail</mat-label>
                <input fxFlex="100" matInput type="text" formControlName="email" placeholder="user@email.com">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Senha</mat-label>
                <input fxFlex="100" matInput type="password" formControlName="password" >
            </mat-form-field>
            <button 
                mat-raised-button 
                color="primary" 
                (click)="tryLogin()" 
                [disabled]="!loginForm.valid">
                Entrar
            </button>
        </form>
        <div>
            <button mat-button>Esqueci a senha</button>
        </div>
        <button 
            class="button-primeiro-acesso full" 
            mat-raised-button 
            routerLink="/primeiro-acesso"
            color="primary">
            Primeiro acesso
        </button>
    </div>
</div>